@import url('https://fonts.cdnfonts.com/css/airplane-script');
/* font-family: 'Airplane Script', sans-serif; */
                                                
                                                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3b069;
}
@media screen and (min-width:320px){
    .img_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .img_banner{
        width: 13rem;
        border: 2px solid;
        border-radius: 50%;
    }
    main{
        margin: 50px;
        line-height: 35px;
    }
    h2{
        font-family: 'Airplane Script', sans-serif;
        font-size: 2rem;
        margin: 20px 0;
        text-align: center;                                                      
    }
    p{
        text-align: center;
        line-height: 15px;
        margin-bottom: 20px;
    }
    span{
        float: right;
    }
}